@{ ViewData["Title"] = "Home Page"; }
<div class="container">

    <div class="jumbotron">
        <h1>Welcome to LinkedOn</h1>
        <a href="/Login"><button class="btn">LOGIN</button></a>
        <a href="/Register"><button class="btn">REGISTER</button></a>
        <!--<form action="Login" method="get">
            <input type="submit" value="Start" class="btn">
        </form>-->
    </div>
    
    
</div>