@{ ViewData["Title"] = "Profile"; }

<div class="container">
    <h1>@ViewBag.Profile.FirstName's Profile</h1>
    <div class="col-lg-10">
        <h2>Description:</h2>
        @ViewBag.Profile.Description
    </div>
</div>
    
