<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Result</title>
        <link rel="stylesheet" type="text/css" href="~/css/stylesheet.css">
    </head>
    <body>
        <div class="mainContent">
            <h2>- Submitted Info -</h3>
            <div class="insideText">
                <p>Name: @ViewBag.Name</p>
                <p>Dojo Location: @ViewBag.Location</p>
                <p>Favorite Language: @ViewBag.Language</p>
                <p>Comment: @ViewBag.Comment</p>
            </div>
        </div>
    </body>
</html>