/*Write all of your CSS here*/
.header{
    height:10%;
    width:100%;
    background-color:tomato;
    color:white;
    padding:20px;
}
.errors{
    text-align: center;
    background-color:#1551CA;
    color:white;
    font-size:16px;
}
.blue{
    color:#1551CA;
    font-weight:bolder;
}
.choose{
    text-align: center;
    color:#44444A;
    margin-top:30px;
    border: 3px solid #E6E2D9;
    /*padding: 25px 0px;*/
}
.chooseHeader{
    background-color:#E6E2D9;
    padding:3px;
}
.choose input{
    margin-top:10px;
}
.chooseInput{
    text-align:left;
    margin-left:40%;
    margin-top:25px;
    font-size:16px;
}
.btn {
    margin-top:25px;
    margin-bottom:25px;
    margin-right: 15px;
    color:white;
    background-color:tomato;
}
