*{
	margin:0%;
	padding:0%;
	font-family: "times new roman"
}
#wrapper{
	width:970px;
	height:970px;
}

#top{
	width:100%;
	height:10%;
	display: inline-block;
	/*text-align:right;*/
	background: linear-gradient(#e6e6e6, white);
}
#nameBox{
	display:inline-block;
	margin-left:1%;
}
#textBox{
	display: inline-block;

}
#nameTag{
	display:inline-block;
	height:60px;
	width:110px;
}

#navBar{
	display: inline-block;
	width: 100%;
	border: 1px solid black;
	color:black;
}
#navBar ul li{
	display: inline-block;
	border:1px solid black;
	text-align: center;
	padding:1% 3.5%;
}
#main{
	width:100%;
	height:75%;
	background-color: blue;
	
}
.wholeBox{
	height:40%;
	width:20%;
	background-color: white;
	display: inline-block;
}
.boxTop{
	width:100%;
	height:10%;
	background: linear-gradient(red, pink);
}


.boxText{

}
.boxButton{

}
