<div ng-controller="sessionController">
    <div class="header">
        <h1>Hello {{currentUser.name}}!</h1>
    </div>
    <a href="#!/add">Add Quote!</a>
    <a href="#!/showAll">All Quotes!</a>
    <a href="/logout">Logout!</a>
    <div ng-controller="quoteController" class='mainContent'>
        <h2>Top 3 Quotes!</h2>
         <table>
        <tr>
            <th>Author</th>
            <th>Quotes</th>
            <th>Date</th>
            <th>Likes</th>
            <th>Like it!</th>
        </tr>
        <tr ng-repeat="quote in quotes |limitTo: -3 | orderBy: 'created_at':true" | >
            <td><a href='#!/showOne/{{quote.author}}'>{{quote.author}}</a></td>
            <td>{{quote.content}}</td>
            <td>{{quote.date | date: fulldate}}</td>
            <td>{{quote.likes}}</td>
            <td><button ng-click="likeQuote(quote)">Like it!</button></td>
        </tr>
    </table>
        
    </div>
</div>


