<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
       
        <h1>Create an Account</h1>
        <form action='/register' method='POST'>
        {% csrf_token %}
        First Name: <input type="text" name="first_name">
        <br>
        Last Name: <input type="text" name="last_name" value="">
        <br>
        Password: <input type="password" name="password" value="">
        <input type="submit" name="" value="Register">
        </form>
        <table>
           
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Password Name</th>
            </tr>
            {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>