@{ ViewData["Title"] = "Home Page"; }
<div class="header">
    <h1>Welcome to <span class="blue">Bank</span>of<span class="blue">Elise</span></h1>
</div>

<div class="choose">
    <div class="chooseHeader">
        <h2>Please Login or Register</h2>
    </div>
    
    <a href="Login"><button class="btn">LOGIN</button></a>
    <a href="Register"><button class="btn">REGISTER</button></a>
</div>