@{ ViewData["Title"] = "Welcome"; }
<div class="wrapper">


    <div class="header">
        <h1>Welcome to Phasebook</h1>
    </div>
    <div class="error">
        @{ foreach(var error in ViewBag.RegErrors){ if(@error.Errors.Count > 0){
        <p>@error.Errors[0].ErrorMessage</p>
        } } }
        <p>@ViewBag.LogError</p>
    </div>

    <div class="login">
        <h1>Register</h1>
        <form action="/Register" method="post">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="FirstName" class="field">
            <br>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="LastName" class="field">
            <br>
            <!--for and id need to match up-->
            <label for="email">Email:</label>
            <input type="text" id="email" name="Email" class="field">
            <br>
            <label for="pw">Password:</label>
            <input type="password" id="pw" name="Password" class="field">
            <br>
            <label for="pwc">Password Confirmation:</label>
            <input type="password" id="pwc" name="PasswordConfirmation" class="field">
            <br>
            <input type="submit" value="Register" class="button">
        </form>
    </div>

    <div class="login">
        <h1>Login</h1>
        <form action="/Login" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="Email" class="field">
            <br>
            <label for="pw">Password:</label>
            <input type="password" id="pw" name="Password" class="field">

            <input type="submit" value="Login" class="button">
        </form>
    </div>
</div>