@{ ViewData["Title"] = "Account"; }
<div class="header">
    <h1>Welcome, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
</div>
<a href="/">HOME</a>
<a href="Logout">LOGOUT</a>

<div>
    <h2>Register</h2>
    <label>Current Balance:</label>
    <label for="deposit">Current Balance:</label>
    <select name="deposit">
        <option value="-10">-$10</option>
        <option value="-5">-$50</option>
        <option value="5">-$5</option>
        <option value="10">$10</option>
    </select>
    <input class="btn" type="submit" value="SUBMIT">
</div>
<table>
    @{ foreach( var transaction in ViewBag.AllTransactions) {
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>@transaction.Amount</td>
        <td>@transaction.Date</td>
    </tr>
    }}

</table>