@{ ViewData["Title"] = "Register"; }
<div class="header">
    <h1>Welcome, USER</h1>
    <a href="/">Home</a> Logout...
</div>

<div >
    <h2>Register</h2>
    <label>Current Balance:</label>
    <label for="deposit">Current Balance:</label>
    <select name="deposit">
        <option value="-10">-$10</option>
        <option value="-5">-$50</option>
        <option value="5">-$5</option>
        <option value="10">$10</option>
    </select>
    <input class="btn" type="submit" value="SUBMIT">
</div>
<table>
   <tr>
       <th>Amount</th>
       <th>Date</th>
   </tr>
   <tr>
       <td>NUM</td>
       <td>NUM</td>
   </tr>
</table>