<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dojodachi</title>
    <link rel="stylesheet" type="text/css" href="~/css/stylesheet.css">
</head>

<body>
    <h1>Dojodachi</h1>
    <div class="mainContent">
        <form action="/action" method = "POST">
            <input type="submit" value="Feed">
            <input type="submit" value="Play">
            <input type="submit" value="Work">
            <input type="submit" value="Sleep">
        </form>
    </div>

</body>

</html>