<html>
    <head>
        <title>Bad Email</title>
    </head>
    <body>
        <h1>Incorrect Email!</h1> 
        <p>~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~</p>
        <p>Please enter in a valid email.</p>

            <p>███████████████████████████</p>
            <p>███████▀▀▀░░░░░░░▀▀▀███████</p>
            <p>████▀░░░░░░░░░░░░░░░░░▀████</p>
            <p>███│░░░░░░░░░░░░░░░░░░░│███</p>
            <p>██▌│░░░░░░░░░░░░░░░░░░░│▐██</p>
            <p>██░└┐░░░░░░░░░░░░░░░░░┌┘░██</p>
            <p>██░░└┐░░░░░░░░░░░░░░░┌┘░░██</p>
            <p>██░░┌┘▄▄▄▄▄░░░░░▄▄▄▄▄└┐░░██</p>
            <p>██▌░│██████▌░░░▐██████│░▐██</p>
            <p>███░│▐███▀▀░░▄░░▀▀███▌│░███</p>
            <p>██▀─┘░░░░░░░▐█▌░░░░░░░└─▀██</p>
            <p>██▄░░░▄▄▄▓░░▀█▀░░▓▄▄▄░░░▄██</p>
            <p>████▄─┘██▌░░░░░░░▐██└─▄████</p>
            <p>█████░░▐█─┬┬┬┬┬┬┬─█▌░░█████</p>
            <p>████▌░░░▀┬┼┼┼┼┼┼┼┬▀░░░▐████</p>
            <p>███████▄░░░░░░░░░░░▄███████</p>
            <p>██████████▄▄▄▄▄▄▄██████████</p>
            <p>███████████████████████████</p>
    </body>




</html>