<html>
    <head>
        <title>Email with Validation</title>
    </head>
    <body>
        <h1>Check yo Email!</h1> 
        <p>~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~</p>
        <h3>Add an Email - </h3>
        <form action= '/new_user' method='POST'>
            <label for="email">Email:<input type ="text" name= "email" id= "email"></label>
            <input type="submit" value="Add">
        <!--</form>
        <h3>Delete an Email - </h3>
        <form action= '/remove_email' method='POST'>
            <label for="email">ID:<input type ="text" name= "id" id= "id"></label>
            <input type="submit" value="Delete">
        </form>-->
        
        <!--{{display_all}}-->
        <h1>All Emails</h1>
        {%for name in display_all%}
        <p>ID: {{name['id']}}</p>
        <p>Email: {{name['email']}}</p>
        <p>Created: {{name['created_at']}}</p>
        <p>Updated: {{name['updated_at']}}</p>
        <hr>
        {% endfor%}

    </body>




</html>