@{ ViewData["Title"] = "Home Page"; }
<div class="container">
 

    <div class="jumbotron">
        <h1>The Activity Center</h1>
        <p>Welcome to the Activity Center. Please login or register to continue.</p>
        <form action="Login" method="get">
            <input type="submit" value="Start" class="btn">
        </form>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4">
            <h2>Create an Activity</h2>
            <p>Post new activities for all site to see</p>
        </div>

        <div class="col-lg-4">
            <h2>Join Activites</h2>
            <p>Join your friends at an activity</p>
        </div>

        <div class="col-lg-4">
            <h2>Delete Activities</h2>
            <p>Delete any activity you listed</p>
        </div>
    </div>
</div>