*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    height:500px;
    width: 900px;
}

.red{
    height:100px;
    width:200px;
    background-color:tomato;
}

.green{
    height:100px;
    width:200px;
    background-color:seagreen;
}